@font-face {
    font-family: exo;
    src: url(fonts/Exo2-VariableFont_wght.ttf);
}
@font-face{
    font-family: 'Pacifico';
    src: url(fonts/Pacifico-Regular.ttf);
}

*{
    padding: 0;
    margin: 0;
}
body {
    background-color: #DCD7D9;
    overflow: hidden;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
    supported by Chrome, Edge, Opera and Firefox */
    font-family: exo;
    /*height: 100vh;*/
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    height: 100%;
}

nav {
    background-color: #2c3639;
    height: 100vh;
    width: 250px;
    border-radius: 0px 12px 12px 0px;
    box-shadow: 4px 0px 10px rgba(0, 0, 0, 0.486);
    position: fixed;
    top: 0;
    left: 0;
    filter: blur(8px);
    opacity: 0;
    animation: fade-in 2s both;
}

nav ul {
    margin: 0;
    list-style: none;
    padding: 20px 0px;
}

nav li {
    font-size: 25px;
    border-bottom: 1px solid #A27B5C;
    transition: 1s ease-in-out;
    background-color: #4c5657;
    margin: 0;
}

ul li a {
    text-decoration: none;
    color: #DCD7D9;
    display: block;
    width: 82%;
    padding: 10px 20px;
    transition: 1s ease-in-out;
}

li:hover:not(.active){
    background-color: #DCD7D9;
    color: #2c3639;
    border-bottom: 1px solid #DCD7D9;
}
.active{
    background-color:  #A27B5C;
    border-bottom: 1px solid #DCD7D9;
    border: none;
}
.active a{  
    color: #2c3639;
}
li:hover:not(.active)>a{
    color: #2c3639 !important;
}
/* Home */
.h-container {
    margin: 0px 30px 0px 250px;
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
    /*height: 100vh;*/
    padding: 120px 0px;
    position: relative;
    left: 100%;
    filter: blur(18px);
    animation: slide-left 2s ease-in-out forwards;
}

.parent-left h1{
    font-size: 45px;
    font-weight: 400;
    margin: 5px 0px;
    font-family: 'Pacifico',
        cursive;
    color: #2c3639;
}

img {
    width: 100%;
    transition: 2s;
    filter: grayscale(.5);
}

img:hover {
    filter: grayscale(0);
}

.wrapper {
    display: inline-flex;
}

.wrapper .static-txt {
    font-size: 40px;
    color: #2c3639;
    font-weight: 400;
}

.wrapper .dynamic-txts {
    margin-left: 0px;
    height: 46px;
    overflow: hidden;
}

.dynamic-txts li {
    list-style: none;
    font-size: 40px;
    font-weight: 500;
    color: #FC6D6D;
    animation: slide 20s steps(4) infinite;
    top: 0;
    position: relative;
}

.dynamic-txts {
    margin: 0;
    padding-left: 15px;
}

.dynamic-txts li span {
    position: relative;
}

.dynamic-txts li span::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    border-left: 4px solid #FC6D6D;
    animation: type 5s steps(38) infinite;
    background: #DCD7D9;
}
.btn{
    display: block;
    text-decoration: none;
    background-image: linear-gradient(to right, #2c3639 0%,#4c5657 51%, #2c3639 100%);
    width: 100px;
    font-size: 24px;
    color: #DCD7D9;
    padding: 8px 25px;
    text-align: center;
    margin-top: 25px;
    border-radius: 12px;
    transition: 2s;
}
.btn:hover{
    background-image: linear-gradient(to right center);
    box-shadow: 2px 2px 6px gray;
}
/* About */
#about{
    margin: 0px 30px 0px 290px;
    display: flex;
    flex-direction: column;
    /*height: 100vh;*/
    padding: 50px 0px;
    justify-content: center;
}
#about p{
    text-align: justify;
    font-size: 26px;
    line-height: 33px;
    margin: 0;
}
#about h1{
    font-size: 60px;
    margin: 10px 10px 25px 0px;
    border-left: 14px solid #A27B5C;
    padding: 10px;
    width: 300px;
}
#projects{
  margin: 0px 30px 0px 290px;
}
 #projects>h1 {
   font-size: 25px;
   margin: 10px 10px 25px 0px;
   border-left: 7px solid #A27B5C;
   padding: 10px;
   width: 300px;
 }
.proCard{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 5px;
}
 .flip-card {
  background-color: transparent;
  height: 450px;
  width: 95%;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.progress{
    width: 100%;
    height: 22px;
    border-radius: 12px;
    background-color: #4c5657;
    position: relative;
    margin-bottom: 10px;
}
.percent{
    height: 100%;
    background-color: #A27B5C;
    border-radius: 12px;
    position: absolute;
    left: 0;
}

/* Contact */
#contact{
    display:flex;
    align-items: center;
    justify-content: center;
    /*height: 100vh;*/
    padding: 65px 0px;
    margin: 30px 30px 0px 280px;
}
#contact h3{
    color: #FC6D6D;
    font-size: 35px;
}
#contact h4{
    color: #DCD7D9;
    font-size: 20px;
    margin-top: 10px;
}
.container {
	background-color: #2c3639;
    padding:40px 20px;
    box-shadow: 6px 6px 18px rgba(0, 0, 0, 0.404);
    border-radius: 5px;
    width: 100%;
}
#contact h3{
    color: #FC6D6D;
    font-size: 35px;
}
#contact h4{
    color: #DCD7D9;
    font-size: 28px;
    margin-top: 10px;
}

input, textarea{
    width: 98.8%;
    margin: 2px 0 0 0;
    border-radius: 12px;
    padding: 5px;
    transition: 2s;
}
button{
    height: 35px;
    border: none;
    background-color: #A27B5C;
    width: 100%;
    font-size: 20px;
    color: #DCD7D9;
    border-radius: 10px;
    transition: 2s;
}
button:hover{
    background-color: #e0ac84;
    color: black;
}
input:focus,input:active,textarea:focus,textarea:active{
    border:2px solid #A27B5C;
    outline: #A27B5C !important;
}
input{
    height: 28px;
}
textarea{
    height: 100px;
}
label{
  color: rgb(172, 172, 172);
  font-size: 18px;
  padding-bottom: 16px;
}

/* Footer */
footer{
    width: 100vw;
    padding: 6px;
    text-align: center;
    background-color: #e0ac84;
    color: #2c3639;
    margin-left: 110px;
}
/* Animations */
@keyframes fade-in {
    50% {
        filter: blur(4px);
        opacity: .5;
    }

    100% {
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes type {
    100% {
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}

@keyframes slide {
    100% {
        top: -194px;
    }
}

@keyframes slide-left {
    to {
        left: 0;
        filter: blur(0px);
    }
}

/* Mediaquery */
@media (max-width:1361px) {

    .wrapper .static-txt,
    .dynamic-txts li {
        font-size: 40px;
    }

    .wrapper .dynamic-txts {
        height: 46px;
    }

    @keyframes slide {
        100% {
            top: -190px;
        }
    }
    #about p{
        font-size: 24px;
    }
}

@media (max-width:1302px) {
    .parent-left h1 {
        font-size: 50px;
    }
}

@media (max-width:1256px){
    nav{
        width: 220px;
    }
    .h-container,#about,#contact,#projects{
        margin-left: 250px;
    }
}

@media (max-width:1211px) {
    .parent-left h1 {
        font-size: 40px;
    }

    .wrapper .static-txt,
    .dynamic-txts li {
        font-size: 32px;
    }

    .wrapper .dynamic-txts {
        height: 36px;
    }

    @keyframes slide {
        100% {
            top: -152px;
        }
    }
}

@media (max-width:1029px){
    .wrapper .static-txt,
    .dynamic-txts li {
        font-size: 30px;
    }

    .wrapper .dynamic-txts {
        height: 34px;
    }

    @keyframes slide {
        100% {
            top: -146px;
        }
    }
}

@media (max-width:1035px){
    #about p{
        font-size: 20px;
    }
    #about h1{
        font-size: 40px;
        border-left: 8px solid #A27B5C;
    }
}

@media (max-width:984px) {
    .parent-left h1 {
        font-size: 40px;
    }

    .wrapper .static-txt,
    .dynamic-txts li {
        font-size: 25px;
    }

    .wrapper .dynamic-txts {
        height: 28px;
    }

    @keyframes slide {
        100% {
            top: -120px;
        }
    }
}


@media (max-width:955px) {
    .parent-left h1 {
        font-size: 35px;
    }
}


@media (max-width:871px) {
    .h-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .img {
        order: -1;
        width: 70%;
    }

    nav li {
        font-size: 17px;
    }
    #about p{
        line-height: 25px;
    }
    #about h1{
        font-size: 30px;
    }
}

@media (max-width:777px) {
    .img {
        width: 90%;
    }

    .parent-left h1 {
        font-size: 30px;
    }

    nav {
        width: 220px;
    }

    .h-container , #about,#contact{
        margin-left: 240px;
    }
    #about h1{
        font-size: 30px;
    }
    
    #about p{
        font-size: 18px ;
        line-height: 22px;
    }
    #about{
        margin-right: 25px;
    }
}
@media (max-width:662px){
    .h-container h1{
        font-size: 28px;
    }
}
@media (max-width:636px) {
    .img {
        width: 100%;
    }

    nav {
        width: 180px;
    }

    .h-container,#about,#contact {
        margin-left: 200px;
    }
    #about p{
        font-size: 16px;
    }
    #about h1{
        font-size: 25px;
        border-left: 6px solid #A27B5C;
    }
}

@media (max-width:601px) {
    nav {
        width: 160px;
    }
    .h-container, #about ,#contact,#projects{
        margin-left: 182px;
    }
}

@media (max-width:581px) {
    nav {
        width: 140px;
    }

    nav li {
        font-size: 18px;
    }

    .h-container , #about,#contact,#projects{
        margin-left: 165px;
    }

    .parent-left h1 {
        font-size: 28px;
    }
}

@media (max-width:549px) {
    .img {
        width: 100%;
    }

    nav {
        width: 140px;
    }

    nav li {
        font-size: 18px;
    }

    .h-container, #about ,#contact,#projects{
        margin-left: 170px;
    }
    .h-container h1{
        font-size: 26px;
    }
    .wrapper .static-txt,
    .dynamic-txts li {
        font-size: 23px;
    }

    .wrapper .dynamic-txts {
        height: 25px;
    }

    @keyframes slide {
        100% {
            top: -112px;
        }
    }
}

@media (max-width:561px) {
    .h-container h1{
        font-size: 25px;
    }
}

@media (max-width:527px) {

    .wrapper .static-txt,
    .dynamic-txts li {
        font-size: 22px;
    }

    .wrapper .dynamic-txts {
        height: 24px;
    }

    .parent-left h1 {
        font-size: 24px;
    }

    nav li {
        font-size: 16px;
    }

    @keyframes slide {
        100% {
            top: -105px;
        }
    }
}

@media (max-width:513px) {
    nav ul {
        display: flex;
        padding-top: 1.5px;
    }

    footer{
        margin-left: 0;
    }
    nav ul{
      margin-left: 2px;
    }

    nav ul li a {
        font-size: 17px;
        display: block;
        width:inherit;
    }
    nav ul li{
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      margin-right: 3px;
      display: inline-block;
    }

    nav {
        width: 100vw;
        height: 47px;
        display: grid;
        justify-content: center;
        z-index: 1;
        border-radius: 0 0 12px 12px;
    }
   .proCard{
     grid-template-columns: 100%;
     justify-content: center;
     align-items: center;
   }
  .flip-card{
    width: 100%;
  }
   #first{
     border-radius: 0 0 0 12px;
   }
  #last{
    border-radius: 0 0 12px 0;
  }
   .btn{
     font-size: 20px;
     display: block;
     width: 87%;
     margin-top: 45px;
   }
    
    input, textarea{
    width: 95.8%;
    }
    
    .h-container , #about,#contact, #projects{
        margin: 0px 20px;
    }

    .h-container h1 {
        font-size: 30px;
    }

    .img {
        width: 90%;
    }
    .wrapper .static-txt,
    .dynamic-txts li {
        font-size: 26px;
    }

    .wrapper .dynamic-txts {
        height: 31px;
    }
    @keyframes slide {
        100% {
            top: -125px;
        }
    }
}
@media (max-width:450px){
    #contact h3{
        font-size: 25px;
    }
    #contact h4{
        color: #DCD7D9;
        font-size: 18px;
        margin-top: 10px;
    }
    button{
        height: 27px;
        font-size: 18px;
    }
    input{
        height: 25px;
        margin-top: 5px;
    }
    textarea{
        height: 50px;
        margin-top: 5px;
    }
}
@media (max-width:420px){
    #contact h3{
        font-size: 25px;
    }
    #contact h4{
        color: #DCD7D9;
        font-size: 16px;
        margin-top: 10px;
    }
    button{
        height: 32px;
        font-size: 16px;
        font-weight: 700;
    }
    input{
        height: 20px;
        margin-top: 3px;
    }
    textarea{
        height: 50px;
        margin-top: 3px;
    }
}
@media (max-width:428px){
    .h-container h1{
        font-size: 26px;
    }
    .wrapper .static-txt,
    .dynamic-txts li {
        font-size: 24px;
    }

    .wrapper .dynamic-txts {
        height: 29px;
    }
    @keyframes slide {
        100% {
            top: -116px;
        }
    }
    #about p{
        font-size: 20px;
        line-height: 25px;
    }
    #about h1{
        font-size: 27px;
    }
}
@media (max-width:401px){
    .h-container h1{
        font-size: 24px;
    }
    .wrapper .static-txt,
    .dynamic-txts li {
        font-size: 22px;
    }

    .wrapper .dynamic-txts {
        height: 25px;
    }
    @keyframes slide {
        100% {
            top: -106px;
        }
    }
}
@media (max-width:373px){
    .h-container h1{
        font-size: 26px;
    }
    .wrapper .static-txt,
    .dynamic-txts li {
        font-size: 20px;
    }

    .wrapper .dynamic-txts {
        height: 23px;
    }
    @keyframes slide {
        100% {
            top: -96px;
        }
    }
    #about p{
        font-size: 18px;
    }
    #about h1{
        font-size: 20px;
    }
}
/*@media (max-height:507px){
    #about p{
        font-size: 16px;
        line-height: 18px;
    }
    #about h1{
        font-size: 20px;
        line-height: 20px;
    }
}
@media (max-height:460px){
    .img{
        width: 50%;
    }
    #about h1{
        font-size: 20px;
        line-height: 20px;
    }
    .h-container h1{
        font-size: 20px;
    }
    .wrapper .static-txt,
    .dynamic-txts li {
        font-size: 20px;
    }

    .wrapper .dynamic-txts {
        height: 23px;
    }
    @keyframes slide {
        100% {
            top: -97px;
        }
    }
    #contact h3{
        font-size: 18px;
    }
    #contact h4{
        color: #DCD7D9;
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 4px;
    }
    button{
        height: 25px;
        font-size: 18px;
    }
    input{
        height: 18px;
        margin-bottom: 3px;
        margin-top: 2px;
    }
    textarea{
        height: 50px;
        margin-bottom: 3px;
        margin-top: 3px;
    }
}
